<div class="container">
  <form>
  <h1>Please pick your favorite movie kind</h1>
  Drama
  Horror
  Comedy
  Action
  Thriller
  Crime
  Adventure
  Documentary
  Fantasy
  Historical
  Science Fiction
  Animation
  Family
  Romance
  Political
  Music
  Mystery
  War
  Speculative
  </form>
</div>
