<<<<<<< HEAD
<% content_for :jquery do %>
    var counter = 0
    $('[data-toggle="popover"]').popover();
    $('img').click(function(){
      counter +=1
      <!-- console.log(counter) -->
      movie_id = $(this).attr('id')
      movie_title = $(this).attr('alt')
      movie_pic = $(this).attr('src')
      <!-- $(this).addClass('unclick') -->

      $.ajax({
       url:"/users/carts",
       data:{
         movie_id:movie_id,
         movie_title:movie_title,
         movie_pic:movie_pic
        
     },
        type: 'POST',
       success: function(res){
       
         $("#user_cart").html(res.movie_list);
     }

   })
   return false;

     
    });
<% end%>
<div class="container">
  <h1>Please pick your favorite movies</h1>
  <div class="row col-sm-8">
    <% if $counter >=2%>
  <form action="/apis/top_moive/prev" method="get" class='col-sm-2'>
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
=======
>>>>>>> save_to_db


  
    <%= react_component('Setup', 
                      {:movies => @movies,  :user_id => @user_id},
                      {:prerender=>true} ) %>
 

